* {
       margin: 0;
       font-family: Arial, Helvetica, sans-serif;
       border: border-box;
     }
     
     .navbar {
       height: 60px;
       background-color: #0f1111;
       color: white;
       display: flex;
       align-items: center;
       justify-content: space-evenly;
     }
     
     .navlogo {
       height: 50px;
       width: 100px;
     }
     
     .logo {
       background-image: url(https://www.amazon.com/ref=nav_logo);
       height: 50px;
       width: 100%;
       background-size: cover;
     }
     .border {
       border: 2px solid transparent;
     }     